// Theme
$mdc-theme-primary: #90caf9;
$mdc-theme-secondary: #ef9a9a;
$mdc-theme-surface: #121212;
$mdc-theme-background: #121212;
$mdc-theme-error: #CF6679;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-on-background: #ffffff;
$mdc-theme-on-error: #ffffff;

// Body
$body-bg: $mdc-theme-background;
$body-color: $mdc-theme-on-background;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$link-color: $body-color;

// Colors
$primary: $mdc-theme-primary;
$secondary: $mdc-theme-secondary;
