// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.form-control, .form-control:focus{
	background-color: $body-bg;
	border-color: $red-light;
	color:$body-color;
}
.card, .dropdown-menu, .dropdown-item{
	background-color: $body-bg;
	color: $body-color;
}
.dropdown-item:focus, .dropdown-item:hover{
	color: $body-bg;
	background-color: $body-color;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link{
	color:$body-color;
}
.website-empty{
	display:none;
}
.website-empty.show{
	display:flex;
}
