// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.form-control,.form-control:focus{
	background-color: $body-bg;
	border-color: $red-light;
	color:$body-color;
}
.card, .dropdown-menu, .dropdown-item{
	background-color: $body-bg;
}
.dropdown-item:hover{
	background-color: lighten($body-bg,5%);
}
